   body {
        color: #000;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 14px;
    }
  
  /** header style **/
    #fixHeader {
        background-color: #999999;
        border-radius: 0;
        border: 0;
    }

    .container-fluid:nth-child(1){
        border: 3px solid;
    }

    .nav-list {
        border: 2px solid black;
    }
    
    .navbar-brand {
        padding-top: 20px;
    }

    .navbar-brand h1 { 
            color: #000;
            font-size: 28px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 11px;
            letter-spacing: 1px;
    }

    h2 {
        margin-top: 0px;
    }
    
    .navbar-brand a:hover, .navbar-brand a:focus {
        text-decoration: none;
    }

    #nav-list {
        margin-top: -1px;
    }

    #nav-list a {
        text-align: center;
    }

    .collapsed{
        border-color: #000 !important;
    }

    .collapsed .icon-bar{
        background-color: #000 !important;
    }

    #nav-list a:hover {
        background: #999999;
    }
    #nav-list a span {
        font-size: 1.8em;
    }
  
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #999999;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ddd;
    }

/* maincontainer style  */
    .mainContainer {
        background-color: #999999;
        padding:10px 20px 10px 20px;
        margin: 20px auto;
    }
  
    .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
        border: 1px solid #61122f;
    }

    .navbar-header button.navbar-toggle {
        clear: both;
        margin-top: -30px;
    }

    .navbar-nav {
        margin: 7px -15px 1px -15px;
    }

    .back-to-top{
        display: none;
    }

/********** mobile only **********/
@media (max-width: 767px) {
    #collapsable-nav a { 
      font-size: 16px;
      background-color: #ffffff;
      border: 1px solid;
      color: black;
      padding: 5px;
    }
    
    .back-to-top{
        display: block !important;
    } 

    #nav-list a {
        text-align: center;
    }

    #collapsable-nav a span { 
      margin-right: 5px;
    }

    .navbar-brand a:hover, .navbar-brand a:focus {
      text-decoration: none;
    }

    #nav-list a:hover {
      background: #999999;
    }
}
